<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlk0_DzH0RTpZWl-nKMnX9PBpChMGSNxU</string>
	<key>GCM_SENDER_ID</key>
	<string>768156680566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexora.app.degrees135</string>
	<key>PROJECT_ID</key>
	<string>degrees-1c40e</string>
	<key>STORAGE_BUCKET</key>
	<string>degrees-1c40e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768156680566:ios:2fd7d1d276df210acfba57</string>
</dict>
</plist>